body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 236, 236)  !important;
}
.form-container {
    min-height: 60vh;
    background-color: white;
}
.left-content {
    background-color: rgb(86, 86, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}
.left-content .btn {
    border: 0.2em solid white;
    background-color: transparent;
    transition: all 0.36s ease-in-out;
}
.left-content .btn:hover {
    box-shadow: none;
    background-color: transparent;
    border-color: #212529;
    color: #212529;
}
.left-content h2 {
    color: white;
    font-size: 1.8em;
    text-align: center;
}
.main-content .title-form {
    color: rgb(86, 86, 242);
    font-size: 1.8em;
}
.main-content .form-control {
    border-color:rgb(85, 85, 106) ;
}
.main-content .form-control::placeholder {
    color: rgb(192, 189, 189);
}
.error-text {
    color: red;
    font-size: 0.8em;
    margin-top: 0.5em;
}

@media(max-width: 576px) {
    .form-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left-content {
        min-height: 100%;
        min-height: 30vh;
        padding: 2em;
    }

}

@media(max-width: 1080px) {
    .form-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left-content {
        min-width: 100%;
        min-height: 30vh;
        padding: 2em;
    }
}